<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Резервације учионица</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
  <h1>Резервације учионица</h1>

  <div id="auth-container">
    <form id="login-form">
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <div id="logout-form" style="display:none">
      <p id='login-info'></p>
      <button id="logout">Logout</button>
    </div>
  </div>

  <label for="date">Датум:</label>
  <input type="date" id="date-input" value="">
  <button id="date-prev">&lt;&lt;</button>
  <button id="date-next">&gt;&gt;</button>

  <div id="occupancy"></div>

  <script>
    window.APP_CONFIG = {
        BASE_PATH: "{{ url_for('index') }}".replace(/\/$/, "") 
    };
  </script>
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
